<div class='container'>
<%= render 'groups/navbar' %>
<%= render 'shared/credit' %>
<div class='total-budget '>
    <p>Total Groups</p>
    <p><%= @groups.count %> </p>
  </div>

<div class='expense-container'>
<%  @groups.each do |group| %>
  <div class='expense'>
    <div class='expense-main'>
      <img src=<%=group.icon%> , class='images'/>
      <div class='expense-data'>
        <h2><%=group.name%></h2>
        <p>Type: <%=group.kind%></p>
      </div>
    </div>
    <div class='expense-data'>
      <h2>$ 45</h2>
      <%= link_to "Delete", groups_path(group.id), method: :delete, style:'color: red' %>
    </div>
  </div>
<% end %>
</div>

<%=link_to new_group_path, class:'actions' do%>
  <p>NEW GROUP</p>
  <%end%>
</div>
